@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/WOFF2/TT_Norms_Pro_Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/WOFF2/TT_Norms_Pro_Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/WOFF2/TT_Norms_Pro_Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "TT Norms Pro", sans-serif;
    font-size: 16px;
    @apply text-black;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {

    --color-black: #1C233E;

    --color-primary: #2b37dc;
    --color-primaryLight: #f0f5ff;

    --color-jobborder: #6997ff;
    --color-jobactions: #6B7082;

    --text-4_1xl: 2.625rem;
    --text-3_5xl: 2.375rem;

}

@layer components {

    .btn {
        @apply content-center w-full px-6 py-5 text-base font-bold text-center rounded-full sm:w-auto hover:scale-105;
    }

    /* For Blue Appering button */
    .btn-primary {
        @apply text-white bg-primary hover:opacity-90;
    }

    /* For Outline button */
    .btn-outline {
        @apply justify-center gap-2 bg-white border-2 text-primary border-primary;
    }

    /* For Main heading for hero section */
    .section-heading {
        @apply font-bold md:text-4_1xl leading-11 text-[2rem];
    }

    /* For Headings below main heading */
    .section-sec-heading {
        @apply text-2xl font-bold leading-normal md:text-3_5xl md:w-full w-9/10;
    }

    /* Description below heading */
    .section-description {
        @apply text-base font-normal text-black md:text-xl;
    }

    /* Heading inside form section */
    .form-title {
        @apply text-2xl font-bold;
    }

    .form-description {
        @apply text-xl font-normal text-black;
    }

    .form-social {
        @apply md:text-2xl text-base text-[#2b37dc] underline font-bold;
    }

    .form-ctas {
        @apply text-base font-bold underline text-primary md:text-2xl;
    }

    .section-sec-description {
        @apply text-base font-normal leading-6 text-black;
    }

    .counter {
        @apply text-6xl font-medium text-primary;
    }

    .counter-description {
        @apply text-xl font-normal text-center text-black;
    }

    /* This is for Contact page social media */
    .form-ctas-snd {
        @apply text-xl font-bold underline text-primary;
    }

    /* For Jobs */
    .jobs {
        @apply md:h-14 h-auto !w-full flex flex-wrap md:flex-nowrap justify-between items-center md:p-10 p-6 border-2 border-jobborder md:rounded-full rounded-3xl bg-white;
    }

    .jobactions {
        @apply text-xl font-medium text-jobactions;
    }

    .card-image {
        @apply md:w-[31.1875rem] md:h-[21.125rem] w-full h-[9.375rem];
    }

    .card-image-full {
        @apply flex justify-center
    }

    .card-image-full img {
        @apply w-auto
    }

}


.article-description {
    @apply text-sm font-normal leading-5;
}

.article-heading {
    @apply text-lg font-bold;
}

.current_page_item {
    background-color: #C3D7FF;
    border-radius: 50px;
    font-weight: 500;
}

.menu-item {
    padding: 9px 14px;
    border-radius: 50px;
    @apply text-base;
}

@media (max-width:768px) {
    .menu-item {
        padding: 12px 14px;
        margin: 12px 0;
        text-align: center;
        border-radius: 50px;
        background-color: #F0F5FF;
        font-size: 24px;
        font-weight: 400;
    }

    .current_page_item {
        background-color: #F0F5FF;
        border-radius: none;
    }
}

.page-numbers {
    display: flex;
    background-color: transparent;
    align-items: center;
}

.page-numbers li a {
    margin: 0px 9px;
    border: 2px solid #C3D7FF;
    padding: 7px 14px;
    font-size: 16px;
    border-radius: 100%;
}

.page-numbers li:nth-child(1) a {
    margin: 0px 9px;
    border: none;
    padding: 0;
    font-size: 0;
    border-radius: 0;
}

.page-numbers li span {
    margin: 0px 9px;
    border: 2px solid #C3D7FF;
    padding: 7px 14px;
    font-size: 16px;
    border-radius: 100%;
}

.next.page-numbers {
    margin: 0;
    border: none;
    padding: 0px 9px;
}

.forminator-button {
    background-color: #2b37dc;
    width: 100% !important;
    text-align: center;
    color: white;
    border-radius: 50px !important;
    border: 1px solid #2b37dc;
    padding: 9px 14px;
    margin: 9px 14px;
    font-size: 16px;
    font-weight: 500;
}


.forminator-field input,
.forminator-textarea {
    border: 2px solid #a6a6a6 !important;
    border-radius: 5px !important;
}

.forminator-field {
    position: relative;
}

.forminator-label {
    position: absolute;
    background-color: white;
    left: 10px;
    top: -15px;
    padding: 5px;
}

.container {
    max-width: 1233px;
    margin-left: auto;
    margin-right: auto;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
}

.slick-dots li button:before {
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #C3D7FF;
    position: absolute;
}

.slick-dots li.slick-active button:before {
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #2B37DC;
    position: absolute;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

.slick-slide {
    margin: 3px 6px;
}

.slick-slider {
    display: flex !important;
}

button.slick-arrow {
    margin: 5px;
    width: 150px;
}

.mySlider {
    flex-direction: column;
}

.mySlider .slick-dots{
    margin: 1.88rem 0;
}

.navbar-menu ul {
    display: flex;
}

.navbar-menu ul li {
    margin: 0 12px;
    padding: 6px 12px;
}