@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/WOFF2/TT_Norms_Pro_Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/WOFF2/TT_Norms_Pro_Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms Pro";
    src: url("../fonts/WOFF2/TT_Norms_Pro_Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "TT Norms Pro", sans-serif;
    font-size: 16px;
    @apply text-black;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {

    --color-black: #1C233E;

    --color-primary: #2b37dc;
    --color-primaryLight: #f0f5ff;

    --color-jobborder: #6997ff;
    --color-jobactions: #6B7082;

    --text-4_1xl: 2.625rem;
    --text-3_5xl: 2.375rem;

    --color-evenCard: #E5E8F3;

}

@layer components {

    .btn {
        @apply content-center w-full px-6 py-5 text-base font-bold text-center rounded-full sm:w-auto hover:scale-105;
    }

    .btn-footer {
        @apply flex justify-center items-center w-full p-[1.125rem] text-base font-bold text-center rounded-full sm:w-auto hover:scale-105 h-[3.125rem];
    }

    /* For Blue Appering button */
    .btn-primary {
        @apply text-white bg-primary hover:opacity-90;
    }

    /* For Outline button */
    .btn-outline {
        @apply justify-center gap-2 bg-white border-2 text-primary border-primary;
    }

    /* For Main heading for hero section */
    .section-heading {
        @apply font-bold md:text-4_1xl leading-11 text-[2rem];
    }

    /* For Headings below main heading */
    .section-sec-heading {
        @apply text-2xl font-bold leading-normal md:text-3_5xl md:w-full w-9/10;
    }

    /* Description below heading */
    .section-description {
        @apply text-base font-normal text-black md:text-xl;
    }

    /* Heading inside form section */
    .form-title {
        @apply text-xl font-bold md:text-2xl;
    }

    .form-description {
        @apply text-base font-normal text-black md:text-xl;
    }

    .form-social {
        @apply md:text-2xl text-base text-[#2b37dc] underline font-bold;
    }

    .form-ctas {
        @apply text-base font-bold underline text-primary md:text-2xl;
    }

    .section-sec-description {
        @apply text-base font-normal leading-6 text-black;
    }

    .counter {
        @apply text-6xl font-medium text-primary;
    }

    .counter-description {
        @apply text-base font-normal text-center text-black md:text-xl;
    }

    /* This is for Contact page social media */
    .form-ctas-snd {
        @apply text-xl font-bold underline text-primary;
    }

    /* For Jobs */
    .jobs {
        @apply md:h-14 h-auto !w-full flex flex-wrap md:flex-nowrap justify-between items-center md:p-9 p-6 border-2 border-jobborder md:rounded-full rounded-3xl bg-white;
    }

    .jobactions {
        @apply text-xl font-medium text-jobactions;
    }

    .card-image {
        @apply h-36 w-full md:h-80 md:w-auto;
    }

    .card-image img {
        @apply relative z-10 object-cover rounded-full size-full;
    }

    .card-image-full {
        @apply flex justify-center md:w-[31.1875rem] md:h-[21.125rem] w-full h-[9.375rem];
    }

    .card-image-full img {
        @apply object-contain w-auto rounded-none -rotate-z-18;
    }

}

.partners.mySlider .slick-dots {
    margin-bottom: 0;
    margin-top: 2rem;
}

.article-description {
    @apply text-sm font-normal leading-5;
}

.article-heading {
    @apply text-lg font-bold;
}

.current_page_item {
    background-color: #C3D7FF;
    border-radius: 50px;
    font-weight: 500;
}

.menu-item:not(.menu-item-has-children) {
    border-radius: 50px;
    @apply py-2.5 px-3 text-base flex-col justify-center items-center;
}

@media (max-width:768px) {
    li.menu-item:not(.menu-item-has-children) {
        padding: 12px 14px;
        margin: 12px 0;
        text-align: center;
        border-radius: 50px;
        background-color: #F0F5FF;
        font-size: 24px;
        font-weight: 400;
    }
    
    ul.sub-menu li{
        @apply !w-full;
    }

    .current_page_item {
        background-color: #F0F5FF;
        border-radius: none;
    }

    #mobileMenu nav ul{
        @apply block;
    }
    
}

.page-numbers {
    display: flex;
    background-color: transparent;
    align-items: center;
}

.page-numbers li a {
    margin: 0px 9px;
    border: 2px solid #C3D7FF;
    padding: 7px 14px;
    font-size: 16px;
    border-radius: 100%;
}

.page-numbers li:nth-child(1) a {
    margin: 0px 9px;
    border: none;
    padding: 0;
    font-size: 0;
    border-radius: 0;
}

.page-numbers li span {
    margin: 0px 9px;
    border: 2px solid #C3D7FF;
    padding: 7px 14px;
    font-size: 16px;
    border-radius: 100%;
}

.next.page-numbers {
    margin: 0;
    border: none;
    padding: 0px 9px;
}

.forminator-ui {
    width: 100%;
}

.forminator-button:not(.forminator-button-upload) {
    @apply text-base px-6 py-4 rounded-full !w-full sm:w-auto font-bold hover:scale-105 content-center text-center;
    @apply text-white bg-primary hover:opacity-90;
}

.forminator-field input,
.forminator-textarea {
    border: 2px solid #a6a6a6 !important;
    border-radius: 5px !important;
    height: 3rem;
    @apply p-6 text-base;
}

.forminator-field {
    position: relative;
}

.forminator-label {
    position: absolute;
    background-color: white;
    left: 10px;
    top: -15px;
    padding: 5px;
    @apply text-base;
}

.forminator-checkbox {
    @apply flex !justify-between !items-start;
}

input[name="checkbox-1[]"] {
    @apply !h-4;
}

.forminator-button-upload {
    @apply text-primary px-6 py-2.5 rounded-full text-sm font-medium bg-primaryLight hover:opacity-90;
}


div.forminator-file-upload {
    @apply flex flex-col !items-center !justify-center py-5 md:px-24 border border-dashed border-[#c3d7ff] rounded-lg;
}

div.forminator-file-upload span,
.Uploadbtn span.forminator-description {
    @apply text-[#a6a6a6] text-sm font-normal;
}

.container {
    max-width: 1233px;
    margin-left: auto;
    margin-right: auto;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li button {
    display: flex;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
}

.slick-dots li button:before {
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #C3D7FF;
    position: absolute;
}

.slick-dots li.slick-active button:before {
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #2B37DC;
    position: absolute;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
}

.slick-slide {
    margin: 3px 6px;
}

.slick-slider {
    display: flex !important;
}

button.slick-arrow {
    margin: 5px;
    width: 150px;
}

.mySlider {
    flex-direction: column;
}

.mySlider .slick-dots {
    @apply mb-3.5;
}

.navbar-menu ul {
    @apply flex flex-row;
}

.navbar-menu ul li {
    margin: 0 12px;
    padding: 6px 12px;
}


li.menu-item-has-children {
    @apply gap-1.5 relative;
}

li.menu-item-has-children .dropdown-menu {
    @apply hidden
}

li.menu-item-has-children.active .dropdown-menu, li.menu-item-has-children:hover .dropdown-menu {
    @apply flex absolute top-full left-0 z-50 min-w-[200px] bg-primaryLight p-3 rounded-full;
}

.navbar-menu ul li a {
    @apply text-left w-max;
}

.custom-menu {
    @apply w-6 h-6 cursor-pointer;
}